[Unit]
Description=System Logging Service
Requires=syslog.socket

[Service]
ExecStart=/sbin/syslogd -m 0 -F
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=syslog.service
