[Unit]
Description=Zabbix Server Daemon
After=network.target
 
[Service]
Type=forking
ExecStart=/usr/sbin/zabbix_server -f
ExecReload=/usr/sbin/zabbix_server -R config_cache_reload
RuntimeDirectory=zabbix
PIDFile=/run/zabbix/zabbix_server.pid
User=zabbix
Group=zabbix
WatchdogSec=30s
Restart=on-failure

[Install]
WantedBy=multi-user.target
