# CONFIG_BCM7145A0 is not set
CONFIG_BCM7250B0=y
# CONFIG_BCM7145 is not set
CONFIG_BCM7250=y
# Not sure if that below GENET part is needed by all 7439 family
# Will save below to separate file for specified platform, if not.
CONFIG_BRCM_GENET_V4=y
CONFIG_BRCM_GENET_VERSION=4

# CONFIG_DETECT_HUNG_TASK is not set
CONFIG_SMP=n

CONFIG_USB_VIDEO_CLASS=y
CONFIG_USB_VIDEO_CLASS_INPUT_EVDEV=y

CONFIG_SND_USB_AUDIO=y
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_CORE=y
# CONFIG_SOFT_WATCHDOG is not set
CONFIG_BCM7038_WDT=y
CONFIG_MAGIC_SYSRQ=n
