CONFIG_INPUT_MISC=y
CONFIG_INPUT_UINPUT=y
CONFIG_INPUT_EVDEV=y

# BRCM specific flags
CONFIG_BRCMSTB_BMEM=y
CONFIG_BRCMSTB_CMA=y
CONFIG_BRCMSTB_MEMORY_API=y
CONFIG_BRCMSTB_SRPD=y
CONFIG_BRCMSTB_WKTMR=y