defaults
    timeout connect 10s
    timeout client 30s
    timeout server 30s

frontend myfrontend
  mode http
  bind :81
  default_backend web_servers

backend web_servers
  mode http
  server s1 localhost:80 check
