# Create a symlink to any touchscreen input device
# Trigger based on input type, that the evbit (-e) has EV_SYN and EV_ABS,
# has an EV_ABS value (-a) which is used for touchscreen type devices.
SUBSYSTEM=="input", KERNEL=="event[0-9]*", ENV{ID_INPUT_TOUCHSCREEN}=="1", SYMLINK+="input/touchscreen0"
