CONFIG_SYSVIPC=y
CONFIG_POSIX_MQUEUE=y
CONFIG_NO_HZ_IDLE=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_TASKSTATS=y
CONFIG_MEMCG=y
CONFIG_BLK_CGROUP=y
CONFIG_CPUSETS=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_PROFILING=y
CONFIG_ARCH_VEXPRESS=y
CONFIG_COMPAT=y
CONFIG_ACPI=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_BLK_DEV_BSGLIB=y
CONFIG_BINFMT_MISC=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_PACKET_DIAG=y
CONFIG_UNIX=y
CONFIG_NET_KEY=y
CONFIG_INET=y
CONFIG_IP_MULTICAST=y
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_BRIDGE=y
CONFIG_NET_SCHED=y
CONFIG_VSOCKETS=y
CONFIG_PCI=y
CONFIG_PCI_HOST_GENERIC=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_FW_CFG_SYSFS=y
CONFIG_FW_CFG_SYSFS_CMDLINE=y
CONFIG_VIRTIO_BLK=y
CONFIG_BLK_DEV_SD=y
CONFIG_CHR_DEV_SG=y
CONFIG_SCSI_CONSTANTS=y
CONFIG_SCSI_LOGGING=y
CONFIG_SCSI_SCAN_ASYNC=y
CONFIG_SCSI_VIRTIO=y
CONFIG_ATA=y
CONFIG_NETDEVICES=y
CONFIG_DUMMY=y
CONFIG_MACVLAN=y
CONFIG_VIRTIO_NET=y
CONFIG_NLMON=y
CONFIG_INPUT_EVDEV=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_HW_RANDOM=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_TCG_TPM=y
CONFIG_TCG_TIS=y
CONFIG_RTC_CLASS=y
CONFIG_RTC_DRV_PL031=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_MAILBOX=y
CONFIG_PL320_MBOX=y
CONFIG_ARM_SMMU_V3=y
CONFIG_EXT4_FS=y
CONFIG_FUSE_FS=y
CONFIG_VIRTIO_FS=y
CONFIG_OVERLAY_FS=y
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_RAS=y
CONFIG_EDAC=y
CONFIG_EDAC_LEGACY_SYSFS=y
CONFIG_EDAC_BLUEFIELD=y
CONFIG_I2C=y
CONFIG_MELLANOX_PLATFORM=y
CONFIG_REGMAP_I2C=y
CONFIG_I2C_CHARDEV=y
CONFIG_GPIO_MLXBF2=y
CONFIG_GPIO_MLXBF3=y
CONFIG_GPIO_MLXBF=y
CONFIG_I2C_MLXBF=y
CONFIG_I2C_MLXCPLD=y
CONFIG_I2C_MUX=y
CONFIG_I2C_MUX_MLXCPLD=y
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_MLXCPLD=y
CONFIG_LEDS_MLXREG=y
CONFIG_NET_SWITCHDEV=y
CONFIG_MLX5_BRIDGE=y
CONFIG_NET_CLS_ACT=y
CONFIG_NET_TC_SKB_EXT=y
CONFIG_CONFIG_NET_CLS_ACT=y
CONFIG_MLX5_CLS_ACT=y
CONFIG_DCB=y
CONFIG_MLX5_CORE_EN_DCB=y
CONFIG_MLX5_CORE_EN=y
CONFIG_MLX5_CORE=y
CONFIG_MLX5_DPLL=y
CONFIG_MLX5_EN_ARFS=y
CONFIG_INET_ESP=y
CONFIG_INET6_ESP=y
CONFIG_XFRM_OFFLOAD=y
CONFIG_INET_ESP_OFFLOAD=y
CONFIG_INET6_ESP_OFFLOAD=y
CONFIG_MLX5_EN_IPSEC=y
CONFIG_MLX5_EN_RXNFC=y
CONFIG_TLS_DEVICE=y
CONFIG_TLS=y
CONFIG_MLX5_EN_TLS=y
CONFIG_MLX5_ESWITCH=y
CONFIG_MLX5_FPGA_IPSEC=y
CONFIG_MLX5_FPGA_TLS=y
CONFIG_MLX5_FPGA=y
CONFIG_MLX5_IPSEC=y
CONFIG_MACSEC=y
CONFIG_MLX5_MACSEC=y
CONFIG_MLX5_MPFS=y
CONFIG_MLX5_SF_MANAGER=y
CONFIG_MLX5_SF=y
CONFIG_MLX5_SW_STEERING=y
CONFIG_NETFILTER=y
CONFIG_NETFILTER_INGRESS=y
CONFIG_NF_CONNTRACK=y
CONFIG_NF_TABLES=y
CONFIG_NF_FLOW_TABLE=y
CONFIG_NET_ACT_CT=y
CONFIG_MLX5_TC_CT=y
CONFIG_MLX5_TC_SAMPLE=y
CONFIG_MLX5_TLS=y
CONFIG_VDPA=y
CONFIG_VHOST_IOTLB=y
CONFIG_MLX5_VDPA_NET=y
CONFIG_MLX5_VDPA_STEERING_DEBUG=y
CONFIG_MLX5_VDPA=y
CONFIG_IOMMUFD=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_VFIO=y
CONFIG_MLX5_VFIO_PCI=y
CONFIG_MLXBF_BOOTCTL=y
CONFIG_MLXBF_GIGE=y
CONFIG_MLXBF_PMC=y
CONFIG_MLXBF_TMFIFO=y
CONFIG_MLXFW=y
CONFIG_MLXREG_HOTPLUG=y
CONFIG_MLXREG_IO=y
CONFIG_WATCHDOG=y
CONFIG_MLX_WDT=y
CONFIG_MMC=y
CONFIG_MMC_DW=y
CONFIG_MMC_DW_BLUEFIELD=y
CONFIG_NET_VENDOR_MELLANOX=y
CONFIG_PINCTRL=y
CONFIG_PINCTRL_MLXBF3=y
CONFIG_POWER_MLXBF=y
CONFIG_SENSORS_MLXREG_FAN=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
CONFIG_INITRAMFS_COMPRESSION_GZIP=y
