polkit.addRule(function(action, subject) {
   if (action.id == "org.freedesktop.policykit.pkexec.hello-polkit" &&
       subject.user == "brtest") {
       return polkit.Result.YES;
   }
});
