SUBSYSTEM!="power_supply", GOTO="usb_end"
ENV{POWER_SUPPLY_NAME}!="usb-charger", GOTO="usb_end"

ENV{POWER_SUPPLY_ONLINE}=="1", RUN+="/usr/sbin/usb start", RUN+="/usr/bin/killall -q -USR1 /usr/libexec/gmenu2x"
ENV{POWER_SUPPLY_ONLINE}=="0", RUN+="/usr/sbin/usb stop", RUN+="/usr/bin/killall -q -USR1 /usr/libexec/gmenu2x"

LABEL="usb_end"
