#
# Additional config changes for busybox-minimal.config
# to reduce the size of the busybox executable.
#

#
# Settings
#
# CONFIG_INCLUDE_SUSv2 is not set
# CONFIG_LONG_OPTS is not set
# CONFIG_LFS is not set
# CONFIG_FEATURE_DEVPTS is not set
# CONFIG_FEATURE_SYSLOG_INFO is not set
# CONFIG_FEATURE_SYSLOG is not set

#
# Library Tuning
#
# CONFIG_FEATURE_RTMINMAX is not set
# CONFIG_FEATURE_RTMINMAX_USE_LIBC_DEFINITIONS is not set
# CONFIG_FEATURE_BUFFERS_USE_MALLOC is not set
CONFIG_FEATURE_BUFFERS_GO_ON_STACK=y
# CONFIG_FEATURE_EDITING_VI is not set
# CONFIG_FEATURE_EDITING_SAVEHISTORY is not set
# CONFIG_FEATURE_REVERSE_SEARCH is not set
# CONFIG_FEATURE_EDITING_WINCH is not set
# CONFIG_FEATURE_HWIB is not set

#
# Archival Utilities
#
# CONFIG_ZCAT is not set
# CONFIG_BZCAT is not set
# CONFIG_LZCAT is not set
# CONFIG_XZCAT is not set
# CONFIG_UNLZOP is not set
# CONFIG_LZOPCAT is not set

#
# Coreutils
#
# CONFIG_CKSUM is not set
# CONFIG_DOS2UNIX is not set
# CONFIG_UNIX2DOS is not set
# CONFIG_DU is not set
# CONFIG_FACTOR is not set
# CONFIG_FOLD is not set
# CONFIG_HEAD is not set
# CONFIG_INSTALL is not set
# CONFIG_LINK is not set
# CONFIG_LOGNAME is not set
# CONFIG_MD5SUM is not set
# CONFIG_SHA1SUM is not set
# CONFIG_SHA256SUM is not set
# CONFIG_SHA512SUM is not set
# CONFIG_SHA3SUM is not set
# CONFIG_MKFIFO is not set
# CONFIG_NICE is not set
# CONFIG_NL is not set
# CONFIG_NOHUP is not set
# CONFIG_OD is not set
# CONFIG_PASTE is not set
# CONFIG_SHRED is not set
# CONFIG_SORT is not set
# CONFIG_TAIL is not set
# CONFIG_TEE is not set
# CONFIG_TIMEOUT is not set
# CONFIG_TR is not set
# CONFIG_UNIQ is not set
# CONFIG_UUDECODE is not set
# CONFIG_BASE32 is not set
# CONFIG_UUENCODE is not set
# CONFIG_WC is not set
# CONFIG_WHOAMI is not set
# CONFIG_WHO is not set
# CONFIG_W is not set
# CONFIG_USERS is not set
# CONFIG_YES is not set

#
# Common options
#
# CONFIG_FEATURE_VERBOSE is not set

#
# Debian Utilities
#
# CONFIG_RUN_PARTS is not set
# CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS is not set
# CONFIG_FEATURE_RUN_PARTS_FANCY is not set
# CONFIG_START_STOP_DAEMON is not set
# CONFIG_FEATURE_START_STOP_DAEMON_LONG_OPTIONS is not set
# CONFIG_FEATURE_START_STOP_DAEMON_FANCY is not set
# CONFIG_WHICH is not set

#
# klibc-utils
#
# CONFIG_NUKE is not set
# CONFIG_RESUME is not set
# CONFIG_RUN_INIT is not set

#
# Editors
#
# CONFIG_SED is not set
CONFIG_VI=y
CONFIG_FEATURE_VI_MAX_LEN=4096
CONFIG_FEATURE_VI_COLON=y
CONFIG_FEATURE_VI_YANKMARK=y
CONFIG_FEATURE_VI_USE_SIGNALS=y
CONFIG_FEATURE_VI_DOT_CMD=y
CONFIG_FEATURE_VI_READONLY=y
CONFIG_FEATURE_VI_SETOPTS=y
CONFIG_FEATURE_VI_SET=y
CONFIG_FEATURE_VI_WIN_RESIZE=y
CONFIG_FEATURE_VI_ASK_TERMINAL=y
CONFIG_FEATURE_VI_UNDO=y

#
# Finding Utilities
#
CONFIG_GREP=y
# CONFIG_EGREP is not set
# CONFIG_FGREP is not set
# CONFIG_XARGS is not set

#
# Init Utilities
#
# CONFIG_HALT is not set
# CONFIG_POWEROFF is not set
# CONFIG_FEATURE_WAIT_FOR_INIT is not set
# CONFIG_FEATURE_CALL_TELINIT is not set
# CONFIG_INIT is not set
# CONFIG_LINUXRC is not set

#
# Login/Password Management Utilities
#
# CONFIG_FEATURE_SHADOWPASSWDS is not set
# CONFIG_USE_BB_CRYPT is not set
# CONFIG_USE_BB_CRYPT_SHA is not set
# CONFIG_ADDUSER is not set
# CONFIG_GETTY is not set
# CONFIG_LOGIN is not set
# CONFIG_PASSWD is not set

#
# Linux System Utilities
#
# CONFIG_FALLOCATE is not set
# CONFIG_FREERAMDISK is not set
# CONFIG_FSFREEZE is not set
# CONFIG_GETOPT is not set
# CONFIG_XXD is not set
# CONFIG_MESG is not set
# CONFIG_MKE2FS is not set
# CONFIG_MKDOSFS is not set
# CONFIG_FEATURE_MOUNT_CIFS is not set
# CONFIG_FEATURE_MOUNT_FSTAB is not set
# CONFIG_FEATURE_MOUNT_OTHERTAB is not set
# CONFIG_NOLOGIN is not set
# CONFIG_LINUX32 is not set
# CONFIG_LINUX64 is not set
# CONFIG_SETPRIV is not set

#
# Common options for mount/umount
#
# CONFIG_FEATURE_MOUNT_LOOP is not set
# CONFIG_FEATURE_MOUNT_LOOP_CREATE is not set

#
# Miscellaneous Utilities
#
# CONFIG_BC is not set
# CONFIG_HEXEDIT is not set
# CONFIG_I2CTRANSFER is not set
# CONFIG_LSSCSI is not set
# CONFIG_MIM is not set
# CONFIG_PARTPROBE is not set
# CONFIG_SETFATTR is not set
# CONFIG_SETSERIAL is not set
# CONFIG_TS is not set

#
# Networking Utilities
#
# CONFIG_HOSTNAME is not set
# CONFIG_DNSDOMAINNAME is not set
# CONFIG_IFCONFIG is not set
# CONFIG_IFUP is not set
# CONFIG_IFDOWN is not set
# CONFIG_IP is not set
# CONFIG_IPADDR is not set
# CONFIG_IPLINK is not set
# CONFIG_IPROUTE is not set
# CONFIG_NC is not set
# CONFIG_NETSTAT is not set
# CONFIG_PING is not set
# CONFIG_ROUTE is not set
# CONFIG_TC is not set
# CONFIG_TELNET is not set
# CONFIG_WGET is not set
# CONFIG_UDHCPC is not set

#
# Process Utilities
#
# CONFIG_KILLALL is not set
# CONFIG_KILLALL5 is not set

#
# Runit Utilities
#
# CONFIG_SVC is not set
# CONFIG_SVOK is not set

#
# Shells
#
CONFIG_BASH_IS_HUSH=y
# CONFIG_BASH_IS_NONE is not set
# CONFIG_HUSH_SAVEHISTORY is not set

#
# Options common to all shells
#
# CONFIG_FEATURE_SH_READ_FRAC is not set
# CONFIG_FEATURE_SH_EMBEDDED_SCRIPTS is not set
