# Architecture
BR2_arcle=y

# System
BR2_TARGET_GENERIC_HOSTNAME="arc700"

# Linux headers same as kernel, a 6.0 series
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_0=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.0.8"
BR2_LINUX_KERNEL_DEFCONFIG="nsim_700"
BR2_LINUX_KERNEL_VMLINUX=y

# Rootfs
BR2_TARGET_ROOTFS_INITRAMFS=y
