[Unit]
Description=Remote app
DefaultDependencies=false

[Service]
Type=simple
ExecStart=/usr/bin/yio-remote/app-launch.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
