# Minimal SD card image for the Starfive VisionFive2 board

image sdcard.img {
	hdimage {
		partition-table-type = "gpt"
	}

	partition rootfs {
		partition-type-uuid = 0FC63DAF-8483-4772-8E79-3D69D8477DE4
		bootable = true
		image = "rootfs.ext4"
	}
}
