# Image for eMMC boot on the Microchip PolarFire SOC BeagleV-Fire Board
#
image boot.vfat {
	vfat {
		files = {
			 "beaglev_fire.itb",
		}

		file boot.scr {
			image = "boot.scr"
		}
	}
	size = 60M
}

image sdcard.img {
	hdimage {
		partition-table-type = "gpt"
	}

	partition uboot {
		partition-type-uuid = 21686148-6449-6E6F-744E-656564454649
		image = "payload.bin"
	}

	partition kernel {
		partition-type-uuid = 0FC63DAF-8483-4772-8E79-3D69D8477DE4
		bootable = "true"
		image = "boot.vfat"
	}

	partition root {
		image = "rootfs.ext4"
	}
}
